node_modules
../BackEnd/index.html
 ../BackEnd/script.js
 ../Digital Agency/
 ../Express/
 ../MongoDB/
 ../MongoDBCompass.lnk
 ../MongoDBFrom/
 ../MongoDBPart2/
 ../OCHI/
 ./
 ../Portfolio/
 ../Project/
 ../ReactApp/