<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
     <div class="contianer">
           <div class="profile  w-full min-h-screen bg-zinc-100 px-[5vw]">
            <div class="profilecard  relative flex justify-center items-center flex-col  p-5 bg-white   rounded-t-xl shadow-lg" >
                <div class="profile-img h-28 w-28  rounded-full overflow-hidden" >
                    <img class="w-full h-full object-cover object-center" src="https://i.pinimg.com/280x280_RS/32/19/6e/32196ef652bd809efa3c45044182c08a.jpg" alt="">
                </div>
                <a href="/logout" class="absolute top-0 right-10 bg-[#E60023] text-white font-semibold mt-2 px-4 py-2 rounded-lg "> logout</a>
                <h1 class="text-[2.5vw] font-sans font-semibold ">
                    <%= user.username %></h1>
                <div class="flex justify-center gap-2    items-center">
                    <img class="w-5 h-5  object-cover  object-center" src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="">
                    <h2 class="text-[1.2vw] font-sans font-normal"><%= user.email %></h2>
                    
                </div>

                 <div class="flex gap-2">
                    <h1 class="text-[1.2vw] text-[#5B5B5B] font-sans font-semibold">1 follower .</h1>
                    <h1 class="text-[1.2vw] text-[#5B5B5B] font-sans font-semibold">3 following</h1>
                 </div>
                 <div class="mt-[1vw]">
                     <a href="#" class="btn bg-[#E2E2E2] rounded-full outline-none hover:bg-[#dadada]  text-black font-semibold text-[1vw] px-[1.2vw] py-[.9vw] ">Share</a>
                     <a href="#" class="btn bg-[#E2E2E2] rounded-full outline-none hover:bg-[#dadada]  text-black font-semibold text-[1vw] px-[1.2vw] py-[.9vw] ">Edit profile</a>
                 </div>

            </div>
            <div class="saveCard w-full min-h-[50vh] bg-transparent ">
                <div class="profilecard  flex  items-start flex-col    rounded-xl shadow-lg" >
                    <div class="Select bg-white  p-5 rounded-b-xl w-full flex gap-3  justify-center ">
                        <div class="text-2xl rounded-[12px] hover:bg-[#E2E2E2] p-2 font-semibold">
                            <a href="/create">create</a>
                        </div>
                        <div class="text-2xl rounded-[12px]   relative p-2  text-[#111111] font-semibold after:content-['']  after:rounded-md  after:absolute after:w-full after:h-[.2vw] after:bottom-[-5px] after:left-0 after:bg-[#111111]">Save</div>
                    </div>
                    <div class="Allcard py-[1vw] px-3 flex justify-between flex-wrap gap-6">
                      <% user.posts.forEach((post)=>{%>
                        <div class="SaveCard h-[16vw] w-[17vw] flex  flex-col justify-evenly  " >
                            <div class="Allimg w-full h-[70%]  rounded-3xl overflow-hidden">
                                <img class="h-full w-full  object-cover object-center" src="/images/uploads/<%= post.Image%>" alt="">
                            </div>
                            <div>
                                <h1 class="text-[1.2vw] font-sans text-[#111111] font-semibold"><%= post.postText %></h1>

                            </div>
                        </div>
                       <% }) %>


                       
                    </div>
                </div>
            </div>
           </div>
     </div>
</body>
</html>